


      <div class="hero-unit">
        <h1>CoffeeDesktop Repo</h1>
        <p>This is a oficial CoffeeDesktop's Apps repositiory.<br>
          You can find here a lot of useful applications ready to download and run on your CoffeeDesktop instance.</p>
          <p> Also You can share here your coffee apps.</p>
          <p>Try our repository browser and find things which would interest you</p>
        <p><a href="/browse" class="btn btn-primary btn-large">Browse Repo &raquo;</a></p>
        <p>If you didn't find what you are looking for you can post your think for app here</p>
      </div>






            <%= render_cell :coffee, :top_rated %>
            <%= render_cell :coffee, :last %>